%table
  %tr
    %th Naam van de competentie
    %th Competentie
    %th Competentie actief?
  %tr
    %td= @competency.name
    %td= @competency.description
    %td= @competency.active
= link_to 'Terug naar alle competenties', admin_root_path