#sections
  %h2 Bekijk overzichten
  =link_to "Gebruikersoverzicht", admin_user_index_path, class: "teacher-blocks"
  =link_to "Competentieoverzicht", admin_competencies_path, class: "teacher-blocks"
  =link_to "Bekijk mijn profiel", admin_root_path, class: "teacher-blocks"


  %h2 Voeg nieuwe items toe
  =link_to "Een nieuwe competentie", new_admin_competency_path, class: "teacher-blocks"
  =link_to "Een nieuwe gebruiker", new_user_registration_path, class: "teacher-blocks"
