#wrapper.items
  .create
    %p
      = link_to 'Alle competenties', admin_competencies_path
  .create
    %p
      = link_to 'Competentie aanmaken', new_admin_competency_path
  .create
    %p
      = link_to 'Nieuwe gebruiker aanmaken', new_user_registration_path
  .create
    %p
      = link_to 'Alle gebruikers', admin_user_index_path
