#sections
  - @proofs.each do |pr|
    .overview 
      .overview_link
        = pr.description

  .under
    = link_to 'Nieuw bewijs toevoegen', new_student_competency_learning_objective_activity_proof_path