%table
  %tr
    %th Omschrijving activiteit
  %tr
    %td= @activity.description

= link_to 'Activiteit aanpassen', edit_student_competency_learning_objective_activity_path
= link_to 'Activiteit verwijderen', student_competency_learning_objective_activity_path, method: :delete, data: { confirm: 'Weet je het zeker?' }
= link_to 'Back', student_root_path