#sections
  
  .user_overview
    %h2 Naam
    .user_overview_inside    
      - @student.each do |st|
        = st.education_name  
        =link_to "Bekijk profiel", student_root_path

  .user_overview
    %h2 Functie
    .user_overview_inside 
      Student
  .user_overview
    %h2 Telefoonnummer
    .user_overview_inside 
      Tel nr. hier
  .user_overview
    %h2 E-mailadres
    .user_overview_inside 
      - @student.each do |st|
        = st.email
  %hr

  .under
    = link_to 'Terug naar dashboard', root_path