Dashboard Student
%table
  %tr
    %th Competentie
  - @competency.each do |c|
    %tr
      %td= link_to c.name, student_competency_path(c)
= link_to 'Nieuw', new_student_competency_learning_objective_path(@competency.first.id)
= link_to 'Terug naar Dashboard', student_root_path
