#sections
  #create
    %ul
      %h2 Snel naar...

      %h2 Competenties
      - @competency.each do |c|
        = link_to student_competency_learning_objectives_path(c) do 
          %li
            %p{class: "#{calculate_color(c.name)} competenties"}= c.name

      %h2 Laatst aangepast
      
      = link_to 'Nieuw', new_student_competency_learning_objective_path(@competency)
