Dashboard Student
%table
  %tr
    %th Competentie
  - @competency.each do |c|
    %tr
      %td= link_to c.name, student_competency_path(c)
-# = link_to 'Nieuw', new_student_learning_objective_activity_path
-# = link_to 'Terug naar Dashboard', student_root_path
