#sections
  %ul
    %h2 Competentie
    - @competency.each do |c|
      = link_to student_competency_path(c) do
        %li{class: "#{calculate_color(c.name)} competenties"}= c.name

  = link_to 'Nieuw', new_student_competency_learning_objective_path(@competency)
  = link_to 'Terug naar Dashboard', student_root_path
