#sections
  %ul
    %h2 Competentie
    - @competency.each do |c|
      = link_to student_competency_learning_objectives_path(c) do 
        %li
          %p{class: "#{calculate_color(c.name)} competenties"}= c.name

  = link_to 'Nieuw', new_student_competency_learning_objective_path(@competency)
