#sections
	 link_to 'Log uit', destroy_user_session_path, method: :delete, data: { confirm: 'Weet je het zeker?' }

	.under 
		= link_to 'Log in', new_user_session_path
		= link_to 'Account aanmaken', new_user_registration_path
