#sections
  %h2 Ga naar...
 
  = link_to "Bekijk mijn profiel", admin_user_index_path, class: "teacher-blocks"
  = link_to 'Overzicht Studenten', teacher_students_path, class: "teacher-blocks"
  = link_to 'Overzicht Docenten', teacher_teachers_path, class: "teacher-blocks"








