@media (min-width: 200px) and (max-width: 550px) {

p {
    padding: 0px;
}

/* MOBILE FRAMEWORK SETTINGS DASHBOARD*/
#wrapper{    
    min-width:260px;
}

.button-wrapper{
    display: block;
    width: auto;
    height: 100px;
    color: white;
    background-color: #607D8D;
    padding: 10px;  
    padding-bottom: 70px;
}

.wrapper-items{
    margin-left:auto;
    margin-right:auto;
}
/* END MOBILE FRAMEWORK SETTINGS */


/* MOBILE HEADER ITEMS DASHBOARD */
._1{
    background-color: #455A64;
    width: auto;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-align: center;
}

._2{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

._3{
    background-color: #455A64;
    border-radius: 5px 0px 0px 5px;
    width: auto;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}
._4{
    background-color: #CFD8DC;
    width: auto;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}
/* END HEADER ITEMS */

/* MOBILE TOP ITEMS */
#top {
    display: block;
    width: auto;
    background-color: #03A9F4;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* MOBILE BLOCKS DASHBOARD */
#sections {
    max-width: 849px;
    width: 100%;
    margin: auto;
}
/* END BLOCKS */

/* MOBILE BLOCKS DASHBOARD */
#create a.li {
    width: auto;
    padding: 10px;
    height: 20px;
    margin: 10px;
    background-color: #B3E5FC;
    list-style-type: none;
    display: block;
    border-radius: 5px;
    line-height: 20px;
}
#competencies a.li {
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    display: block;
    border-radius: 5px;
}

#competencies2 a.li {
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: #B3E5FC;
    list-style-type: none;
    display: block;
    border-radius: 5px;
}
/* END BLOCKS DASHBOARD */

/* BLOCKS COMPETENCY OVERVIEW*/

#top_growth_reflection {
    display: block;
    width: auto;
    background-color: #bfff00;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.overzicht{
    width:auto;
    display:block;
    padding: 5px;
}

#overzicht a.li {
    width: 100%;
    height: 100px;
    list-style-type: none;
    display: inline-block;
    border-radius: 5px;
    color: #445A64;
    background-color: #bfff00;
    margin-top: 5px;
    margin-bottom: 5px;

}
#overzicht a.li:hover{
    background-color: orange;
/* END BLOCKS COMPETENCY OVERVIEW*/
