@media (min-width: 568px) and (max-width: 885px) {

/* LOG IN */
.devise{
	width: 65%;
	height: 380px;
}

.devise_label_box{
	width: 250px;
}
/* END LOG IN */

/* CENTER THE BLOCKS AND CONTENT */
#wrapper{	 
	width: 100%;
	margin: auto;
}

#sections {
	max-width: 800px;
	margin: auto;
	padding-top: 10px;
	padding-left: 20px;
}

/* END CENTER THE BLOCKS AND CONTENT */

/* HEADER ITEMS */
.button_wrapper{	
	display: inline-block;
	width: 100%;
	color: white;
	background-color: #607D8D;
	padding-top: 10px;
	padding-bottom: 10px;
}

.wrapper-items{
	max-width: 800px;
	width: 95%;
	padding: 0px;
	margin: auto;
}

._1{
	background-color: #455A64;
	width: auto;
	padding: 10px;
	display: block;
	border-radius: 5px;
	text-align: center;
}

._2{
	display: block;
	width: auto;	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

._3{
	display: none;
}
._4{
	background-color: #CFD8DC;
	width: auto;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

/* SEARCHBAR SETTINGS SMALL+MOBILE*/
.container-1{
  width: 100%;
}

.container-1 input#search{
  width: 100%;
  height: 35px;
  text-align: center;
  float: left;
  padding-left: 45px;
  margin-bottom: 10px;
}

.container-1 .icon{
  margin-left: 17px;
  margin-top: 10px;
}
/* SEARCHBAR SETTINGS SMALL+MOBILE*/
/* END HEADER ITEMS */

/* TOP ITEMS */
#top {
	display: none;
}
/* END TOP ITEMS */


/* BLUE SYSTEM COLOR BLOCKS */
.teacher-blocks{
	width: 43%;
	height: 50px;
	margin-left: 15px;
	display: inline-block;
	padding: 5px;
	margin-bottom: 30px;
}
/* BLUE SYSTEM COLOR BLOCKS */

/* COLORED COMPETENCIE BLOCKS*/
.competenties {
	font-family: 'Ubuntu';
	width: 44%;
	height: 90px;
	margin-left: 15px;
	margin-top: 5px;
	padding-bottom: 10px;
	display: inline-block;
}
/* COLORED COMPETENCIE BLOCKS*/

/*LEARNING OBJECTIVE OVERVIEW SMALL*/
.lo_block{
    text-align: center;
    margin-top: 30px;
}
/*END LEARNING OBJECTIVE OVERVIEW SMALL*/

/* ADMIN COMPETENCY OVERVIEW SMALL*/
.inside_block_down{
    display: block;
    text-align: center;
}
/* END ADMIN COMPETENCY OVERVIEW SMALL*/

/* BLOCKS USER OVERVIEW SMALL*/
.user_overview h2{
	font-size: 16px;
}
.user_overview{
	width:24%;
	display:inline-block;
	vertical-align:top;
	font-weight: bold;
	font-size: 12px;
}

.user_overview_inside{
	text-align: left;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 2px;
}
/* END BLOCKS USER OVERVIEW SMALL*/

/* CSS POP UP SMALL*/
.center{
	margin: auto;
	width: 90%;
	margin-top: 5%;
	border-radius: 5px;
}
.center-top{
	padding: 10px;
	height: 40px;
}
.center-content{
	margin-bottom: 5px;
	padding: 10px;
	padding-left: 30px;
}
.center-button{
	width: 28%;
	height: 50px;
	line-height: 50px;
	padding: 2px;
	font-size: 14px;	
	margin-right: 8px;
	margin-left: 8px;
	font-size: 12px;
}
/* END CSS POP UPS */

/* BLOCKS COMPETENCY OVERVIEW SMALL*/
.overview{
	width:45%;
	display:inline-block;
	vertical-align:top;
	padding: 10px;
	text-align: center;
}
/* END BLOCKS COMPETENCY OVERVIEW SMALL*/

/* FORMS STRUCTURE SMALL*/
.under{
	margin: auto;
	max-width: 885px;
	width: 90%;
	text-align: center;

}
.sub{
	width: auto;
	padding: 0px;
	margin-bottom: 20px;
}
/* END FORM STRUCTURE*/

.competenties{
	height: 115px;
}
/* FORMS SMALL*/
textarea#message_area {
  	margin: auto;
	max-width: 885px;
	width: 97%;
  	height: 100px;
}

textarea#message_box {
	margin: auto;
	max-width: 885px;
	width: 97%;
	height: 30px;

}

.submit_button{
	height: 40px;
	width: 70%;
	margin-bottom: 30px;
	margin-top: 30px;

}
.submit_button:hover{ 
	background-color: #607D8B;
	color: white;
}

.label_box{
	margin: auto;
	max-width: 885px;
	width: 97%;
}
/* END FORMS SMALL*/
